In [1]:
import numpy as np
import pandas as pd
import os
import re
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer

# Dataset:

Netflix Price Dataset: https://files.grouplens.org/datasets/ml-25m.zip

# Load Dataset
1. Load the movies.csv data
2. Clean the titles - there are parenthesis/ special characters in the movie name

In [2]:
movies_df = pd.read_csv("ml-25m/movies.csv")  

def clean(title):
    return re.sub("[^a-zA-Z0-9 ]","", title) 

movies_df["clean_title"] = movies_df["title"].apply(clean)
movies_df.head(3)

,movieId,title,genres,clean_title
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,Jumanji 1995
2,3,Grumpier Old Men (1995),Comedy|Romance,Grumpier Old Men 1995

## Build the search engine

In [3]:
genres =  movies_df['genres'].str.replace('|'," ")

In [4]:
tfidf = TfidfVectorizer()
vectors = tfidf.fit_transform(genres)

In [ ]:
cosine_sim = cosine_similarity(vectors)

In [16]:
similarity_df = pd.DataFrame(cosine_sim)

: