In [2]:
import numpy as np
import pandas as pd
import os
import re
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
from collections import Counter
from math import log

# Dataset:

Netflix Price Dataset: https://files.grouplens.org/datasets/ml-25m.zip

# Load Dataset
1. Load the movies.csv data
2. Clean the titles - there are parenthesis/ special characters in the movie name

In [21]:
movies_df = pd.read_csv("ml-10M100K/movies.dat",delimiter='::',names=['id','title','genres'])

/var/folders/1h/8zf2rcls4h37bpx4_bc7brjc0000gn/T/ipykernel_46703/1593501011.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  movies_df = pd.read_csv("ml-10M100K/movies.dat",delimiter='::',names=['id','title','genres'])

In [22]:
def clean(title):
    return re.sub("[^a-zA-Z0-9 ]","", title) 

movies_df["clean_title"] = movies_df["title"].apply(clean)
movies_df.head(3)

,id,title,genres,clean_title
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,Jumanji 1995
2,3,Grumpier Old Men (1995),Comedy|Romance,Grumpier Old Men 1995

## Clean the Genres column

In [23]:
movies_df['genres'] = movies_df['genres'].str.replace('(no genres listed)', '')

## Build the search engine

In [24]:
genres =  movies_df['genres'].str.replace('|'," ")

In [25]:
tfidf = TfidfVectorizer(token_pattern='\w+', lowercase=True)
tfidf_matrix = tfidf.fit_transform(genres)

In [26]:
tfidf_matrix.toarray()

array([[0.        , 0.40363133, 0.55745095, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.50956703, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [27]:
tfidf_matrix.shape

(10681, 21)

In [28]:
cosine_similarity(tfidf_matrix)

array([[1.        , 0.79210645, 0.14573466, ..., 0.19203468, 0.        ,
        0.24862786],
       [0.79210645, 1.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.14573466, 0.        , 1.        , ..., 0.45273382, 0.69628723,
        0.58615579],
       ...,
       [0.19203468, 0.        , 0.45273382, ..., 1.        , 0.32475775,
        0.77237797],
       [0.        , 0.        , 0.69628723, ..., 0.32475775, 1.        ,
        0.        ],
       [0.24862786, 0.        , 0.58615579, ..., 0.77237797, 0.        ,
        1.        ]])